<!DOCTYPE html>
<html lang="zxx">
	<head>
		<title>DepDepression</title>
		<!--meta tags -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta
			name="keywords"
			content="Sapid Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
      Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"
		/>
		<script>
			addEventListener(
				'load',
				function () {
					setTimeout(hideURLbar, 0);
				},
				false
			);

			function hideURLbar() {
				window.scrollTo(0, 1);
			}
		</script>
		<!--//meta tags ends here-->
		<!--booststrap-->
		<link
			href="../static/css/bootstrap.min.css"
			rel="stylesheet"
			type="text/css"
			media="all"
		/>
		<!--//booststrap end-->
		<!-- font-awesome icons -->
		<link href="../static/css/font-awesome.min.css" rel="stylesheet" />
		<!-- //font-awesome icons -->
		<!--stylesheets-->
		<link
			href="../static/css/style.css"
			rel="stylesheet"
			type="text/css"
			media="all"
		/>
		<!--//stylesheets-->
		<link
			href="//fonts.googleapis.com/css?family=Oswald:400,500,600,700"
			rel="stylesheet"
		/>
		<link
			href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700"
			rel="stylesheet"
		/>
	</head>
	<body>
		<div class="main-top" id="home">
			<!-- header -->
			<div class="headder-top">
				<!-- nav -->
				<nav>
					<div id="logo">
						<h1><a href="/">DepDepression</a></h1>
					</div>
					<label for="drop" class="toggle">Menu</label>
					<input type="checkbox" id="drop" />
					<ul class="menu mt-2">
						<li class="active"><a href="/" class="btn btn-dark">Home</a></li>
						<li class="mx-lg-3 mx-md-2 my-md-0 my-1">
							<a href="/login" class="btn btn-dark">Login</a>
						</li>
						<li class="mx-lg-3 mx-md-2 my-md-0 my-1">
							<label for="drop-2" class="toggle toogle-2"
								>Registration
								<span class="fa fa-angle-down" aria-hidden="true"></span>
							</label>
							<a href="#" class="btn btn-dark"
								>Registration
								<span class="fa fa-angle-down" aria-hidden="true"></span
							></a>
							<input type="checkbox" id="drop-2" />
							<ul>
								<li>
									<a href="/paReg" class="drop-text">Patient</a>
								</li>
								<li><a href="/coReg" class="drop-text">Counsellor</a></li>
							</ul>
						</li>
					</ul>
				</nav>
				<!-- //nav -->
			</div>
			<!-- //header -->
			<!-- banner -->
			<div class="main-banner">
				<div class="container-fluid">
					<div class="style-banner">
						<!-- <h4>Park safely</h4> -->
						<div class="two-demo-button mt-md-4 mt-3">
							<!-- <p>Prebook your slot with all safety measures</p> -->
						</div>
						<div class="social-icons mt-lg-4 mt-3">
							<!-- <ul>
								<li>
									<a href="#"
										><span class="fa fa-facebook mr-lg-3 mr-2"></span
									></a>
								</li>
								<li>
									<a href="#"
										><span class="fa fa-twitter mr-lg-3 mr-2"></span
									></a>
								</li>
								<li>
									<a href="#"><span class="fa fa-rss mr-lg-3 mr-2"></span></a>
								</li>
								<li>
									<a href="#"
										><span class="fa fa-envelope mr-lg-3 mr-2"></span
									></a>
								</li>
								<li>
									<a href="#"
										><span class="fa fa-instagram mr-lg-3 mr-2"></span
									></a>
								</li>
							</ul> -->
						
            
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- //banner -->

		  <!-- banner bottom section -->
		  
		  <section class="w3l-bottom-grids-6 py-5">
			<div class="container pt-lg-5 pt-md-4 pt-2">
				<div class="row justify-content-center">
					<div class="col-lg-4 col-md-6">
						<div class="area-box">
							<i class="fas fa-stopwatch-20"></i>
							<h4><a href="about.html" class="title-head">Early Intervention</a></h4>
							<p class="">Depression detection allows for early intervention, enabling timely support and treatment to prevent the escalation of symptoms.</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 mt-md-0 mt-4">
						<div class="area-box">
						   <i class="fas fa-comments-dollar"></i>
							<i class="bi bi-calendar2-heart"></i>
							<h4><a href="about.html" class="title-head">Improved Quality of Life</a></h4>
							<p class="">Identifying depression early enhances the chances of effective treatment, leading to an improved quality of life for individuals affected.
	
							</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
						<div class="area-box">
							<!--<i class="fas fa-thumbs-up"></i>-->
							<h4><a href="about.html" class="title-head">Reduced Stigma</a></h4>
							<p class="">Early detection destigmatizes mental health and promoting open conversations and understanding.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- //banner bottom section -->
		<!-- about -->
		<br><br><br><br>
		  <h1>&nbsp &nbsp  &nbsp  &nbsp Why Us?</h1>
		<section class="w3l-about-2 py-5">
			<div class="container py-lg-5 py-md-4 py-2">
				<div class="row justify-content-between align-items-center pb-lg-5">
					<div class="col-lg-6 about-2-secs-right mb-lg-0 mb-5">
						<h1>Free Mental Health Support</h1>
						<p class="mt-4">Feel free to access our mental health support services. 
							A simple conversation could make a significant difference in how you feel. Don't hesitate to connect with us! we're here to help.</p>
						<div class="image-box inverse position-relative">
							<div class="image-box__static">
								<img src="static\images\WhatsApp Image 2024-04-15 at 12.12.58_3e7d97f4.jpg" alt="" width="364" height="459">
							</div>
						</div>
							<div class="image-box__static" style="text-align: right;">
								<img src="static\images\WhatsApp Image 2024-04-15 at 12.13.03_5e59da6a.jpg" alt="" width="364" height="459">
							</div>
					
					</div>
					
					<div class="col-lg-6 about-2-secs-right ps-lg-5 mt-lg-4 mt-5" style="display: flex; flex-direction: column; justify-content: flex-end; height: 100%;">
						<h1>Raise Awareness</h1>
						<p class="mt-4">Empowering individuals with knowledge and support to break through the shadows and rediscover hope.
							By providing education and support, we empower people to navigate through the darkness of depression and find their way 
							back to a path of hope and recovery. Through awareness initiatives, we strive to break down barriers to seeking help and 
							foster a community where mental health is prioritized and supported. Together, we can 
							illuminate the path to healing and renewal for those affected by depression.</p>
					</div>
					<div class="col-lg-6 about-2-secs-right mb-lg-0 mb-5">
						<h1>Privacy & Confidentiality</h1>
						<p class="mt-4">Don't hesitate to reach out to us knowing that your information will be kept strictly confidential. Your trust is important to us, 
							and we are committed to ensuring that your privacy is respected and protected throughout our interactions.</p>
						<div class="image-box inverse position-relative">
							<div class="image-box__static">
								<img src="static\images\WhatsApp Image 2024-04-15 at 12.13.04_2c776faa.jpg" alt="" width="364" height="459">
							</div>
						</div>
				</div>
			</div>
		</section>
		<!--//about -->

		<!-- prices  -->

		<!--//prices -->
		<!-- Clients  -->

		<!--//Clients  -->
		<!-- footer -->
		<footer class="py-lg-3 py-md-2 py-sm-3 py-2">
			<div class="container py-lg-4 py-md-4 py-sm-3 py-3">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-6 footer-bottom-txt">
						<h2><a href="/">DepDepression</a></h2>
						<p class="pt-lg-4 pt-3"><span>Contact</span> <br>
							Amal Jyothi College of Engineering <br>Kanjirapally</p>
						<p class="pt-2"> <span> Phone</span> :+9192076 54929</p><span>Email</span>   
						<a href="mailto:info@example.com">depdepression@gmail.com</a> 
					</div>

					<div class="col-lg-3 col-md-6 col-sm-6 footer-bottom-txt">
						<!-- <h4>Our Address</h4> -->
						<!--<div class="mt-3 footer-top">
							<p>
								© 2024 . All Rights Reserved 
							</p>
              <p class="pt-2">
              </p> 
						</div>
					</div>
					<!--<div class="col-lg-3 col-md-6 col-sm-6 footer-bottom-txt">
						<h4>Social Icons</h4>
						<div class="social-icons mt-3">
							<ul>
								<li>
									<a href="#"
										><span class="fa fa-facebook mr-lg-3 mr-2"></span
									></a>
								</li>
								<li>
									<a href="#"
										><span class="fa fa-twitter mr-lg-3 mr-2"></span
									></a>
								</li>
								<li>
									<a href="#"><span class="fa fa-rss mr-lg-3 mr-2"></span></a>
								</li>
								<li>
									<a href="#"
										><span class="fa fa-envelope mr-lg-3 mr-2"></span
									></a>
								</li>
								<li>
									<a href="#"
										><span class="fa fa-instagram mr-lg-3 mr-2"></span
									></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!--//footer -->
		<!-- footer-copy-write -->
		<div class="footer-copy-write py-lg-3 py-md-2 py-sm-3 py-2">
			<div class="container pb-lg-3 pb-2">
				<div class="bottem-txt-footer text-center pt-md-4 pt-3">
					
				</div>
				<!-- move icon -->
				<!--<div  style="float: right;">
					
					<a href="#home" class="move-top text-center mt-3"
						><i class="fa fa-arrow-up" aria-hidden="true"></i
					></a>
				</div>
				<!--//move icon -->
			</div>
		</div>
		<!--//footer-copy-write -->
	</body>
</html>